@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1570555044') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1570555044') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1570555044') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1570555044') format('svg'); }
.TableViewCell.arrow strong:before, .TableViewCell.checkmark strong:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.TableViewCell, .TableViewCell.switch label { -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

.TableViewCell.textarea textarea { overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.TableViewCell.textarea textarea::-webkit-scrollbar-thumb { background-color: #afafaf; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.TableViewCell.textarea textarea::-webkit-scrollbar { background-color: transparent; width: 8px; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: medium; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }
body::-moz-selection { color: white; background-color: #78baff; }
body::selection { color: white; background-color: #78baff; }

.TableViewSection { position: relative; display: inline-block; width: 100%; margin: 12px 0; text-align: left; }
.TableViewSection:before, .TableViewSection:after { display: inline-block; width: 100%; height: 20px; line-height: 20px; font-size: 13px; padding-left: 16px; color: #8a8b90; }
.TableViewSection:before { margin-bottom: 2px; }
.TableViewSection:after { margin-top: 3px; }
.TableViewSection[data-header]:not([data-header='']):before { content: attr(data-header); }
.TableViewSection[data-footer]:not([data-footer='']):after { content: attr(data-footer); }

.TableViewCell { position: relative; display: inline-block; width: 100%; padding: 12px 12px 11px 16px; background-color: white; }
.TableViewCell:first-child { border-top: 1px solid #dedede; }
.TableViewCell:last-child { border-bottom: 1px solid #dadada; }
.TableViewCell b, .TableViewCell span { display: block; }
.TableViewCell b { font-weight: normal; line-height: 21px; font-size: 15px; color: #484848; }
.TableViewCell span { font-size: 11px; color: #8e9194; line-height: 16px; }
.TableViewCell:not(.wrap) b, .TableViewCell:not(.wrap) span { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.TableViewCell:after { position: absolute; top: 0; right: 0; left: 14px; display: inline-block; height: 1px; border-top: 1px solid gainsboro; }
.TableViewCell + .TableViewCell:after { content: ''; }
.TableViewCell.blue { cursor: pointer; }
.TableViewCell.blue b, .TableViewCell.blue span { -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.TableViewCell.blue b { color: #1890ff; }
.TableViewCell.blue span { color: #6ab7ff; }
.TableViewCell.blue:hover b { color: #0076e4; }
.TableViewCell.blue:hover span { color: #379fff; }
.TableViewCell.blue:active b { color: #0067c5; }
.TableViewCell.blue:active span { color: #0076e4; }
.TableViewCell.red { cursor: pointer; }
.TableViewCell.red b, .TableViewCell.red span { -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.TableViewCell.red b { color: #f32626; }
.TableViewCell.red span { color: #f77373; }
.TableViewCell.red:hover b { color: #da0c0c; }
.TableViewCell.red:hover span { color: #f54343; }
.TableViewCell.red:active b { color: #bd0a0a; }
.TableViewCell.red:active span { color: #da0c0c; }
.TableViewCell.center b, .TableViewCell.center span { text-align: center; }
.TableViewCell.right b, .TableViewCell.right span { text-align: right; }
.TableViewCell.subtitle { padding: 9px 12px 8px 16px; }
.TableViewCell.switch { padding-right: 64px; }
.TableViewCell.switch label { position: absolute; right: 12px; top: calc(50% - 12px); display: inline-block; width: 40px; height: 24px; cursor: pointer; }
.TableViewCell.switch label:before, .TableViewCell.switch label:after { content: ''; position: absolute; display: inline-block; }
.TableViewCell.switch label:before { left: 0; top: 0; width: 100%; height: 100%; background-color: #e4e4e4; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; -moz-box-shadow: inset 0 1px 4px 0 rgba(0, 35, 11, 0.2); -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 35, 11, 0.2); box-shadow: inset 0 1px 4px 0 rgba(0, 35, 11, 0.2); -moz-transition: background-color 0.3s, box-shadow 0.3s; -o-transition: background-color 0.3s, box-shadow 0.3s; -webkit-transition: background-color 0.3s, box-shadow 0.3s; transition: background-color 0.3s, box-shadow 0.3s; }
.TableViewCell.switch label:after { left: 2px; top: 2px; width: 20px; height: calc(100% - 4px); background-color: white; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-transition: left 0.3s, box-shadow 0.3s; -o-transition: left 0.3s, box-shadow 0.3s; -webkit-transition: left 0.3s, box-shadow 0.3s; transition: left 0.3s, box-shadow 0.3s; -moz-box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); -webkit-box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); }
.TableViewCell.switch.on label:before { background-color: #25b899; }
.TableViewCell.switch.on label:after { left: 18px; -moz-box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); -webkit-box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); }
.TableViewCell.arrow, .TableViewCell.checkmark { cursor: pointer; }
.TableViewCell.arrow b, .TableViewCell.arrow span, .TableViewCell.arrow strong, .TableViewCell.checkmark b, .TableViewCell.checkmark span, .TableViewCell.checkmark strong { -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.TableViewCell.arrow strong, .TableViewCell.checkmark strong { position: absolute; display: inline-block; text-align: center; }
.TableViewCell.arrow:not(.blue):not(.red):hover b, .TableViewCell.checkmark:not(.blue):not(.red):hover b { color: #202020; }
.TableViewCell.arrow:not(.blue):not(.red):hover span, .TableViewCell.checkmark:not(.blue):not(.red):hover span { color: #707376; }
.TableViewCell.arrow { padding-right: 32px; }
.TableViewCell.arrow strong { right: 6px; top: calc(50% - 12px); width: 20px; height: 24px; line-height: 24px; font-size: 20px; color: #c8cacc; }
.TableViewCell.arrow strong:before { content: '\a0008'; }
.TableViewCell.arrow:hover strong { color: #aaacae; }
.TableViewCell.checkmark { padding-right: 50px; }
.TableViewCell.checkmark strong { right: 12px; top: calc(50% - 14px); width: 28px; height: 28px; line-height: 28px; font-size: 18px; color: #e4e5e9; }
.TableViewCell.checkmark strong:before { content: '\a0030'; }
.TableViewCell.checkmark:hover strong { color: #d2d4d6; }
.TableViewCell.checkmark:active strong { color: #1890ff; }
.TableViewCell.checkmark.on strong { color: #1890ff; }
.TableViewCell.value1, .TableViewCell.value2, .TableViewCell.input, .TableViewCell.textarea { display: flex; flex-direction: row; align-items: center; flex-wrap: nowrap; justify-content: space-between; }
.TableViewCell.value1 b, .TableViewCell.value2 b, .TableViewCell.input b, .TableViewCell.textarea b { flex-shrink: 0; margin-right: 8px; min-width: 0; max-width: 100%; }
.TableViewCell.value1 span, .TableViewCell.value1 input, .TableViewCell.value1 textarea, .TableViewCell.value2 span, .TableViewCell.value2 input, .TableViewCell.value2 textarea, .TableViewCell.input span, .TableViewCell.input input, .TableViewCell.input textarea, .TableViewCell.textarea span, .TableViewCell.textarea input, .TableViewCell.textarea textarea { flex-grow: 1; min-width: 0; max-width: 100%; text-align: right; }
.TableViewCell.value2 b { font-size: 13px; color: #7d7f82; }
.TableViewCell.value2 span { font-size: 15px; color: #484848; }
.TableViewCell.input b { color: #5f6163; }
.TableViewCell.input input { border: 0; display: inline-block; color: #484848; font-size: 15px; height: 21px; }
.TableViewCell.input input:-moz-placeholder { color: #b4b4b4; font-size: 13px; }
.TableViewCell.input input::-moz-placeholder { color: #b4b4b4; font-size: 13px; }
.TableViewCell.input input:-ms-input-placeholder { color: #b4b4b4; font-size: 13px; }
.TableViewCell.input input::-webkit-input-placeholder { color: #b4b4b4; font-size: 13px; }
.TableViewCell.input input:focus { outline: 0; }
.TableViewCell.input input[type='date']::-webkit-datetime-edit { font-size: 13px; color: #b4b4b4; }
.TableViewCell.input.left input { text-align: left; }
.TableViewCell.textarea b { color: #5f6163; }
.TableViewCell.textarea textarea { border: 0; display: inline-block; color: #484848; font-size: 15px; line-height: 21px; resize: none; height: 84px; position: relative; }
.TableViewCell.textarea textarea:-moz-placeholder { color: #b4b4b4; font-size: 13px; }
.TableViewCell.textarea textarea::-moz-placeholder { color: #b4b4b4; font-size: 13px; }
.TableViewCell.textarea textarea:-ms-input-placeholder { color: #b4b4b4; font-size: 13px; }
.TableViewCell.textarea textarea::-webkit-input-placeholder { color: #b4b4b4; font-size: 13px; }
.TableViewCell.textarea textarea:focus { outline: 0; }
.TableViewCell.textarea.left textarea { text-align: left; }
