@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

html, body { height: 100%; }

body { margin: 0; padding: 16px 8px; text-align: center; background-color: whitesmoke; font-family: "微軟正黑體", system, -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
@media screen and (max-width: 749px) and (min-width: 0) { body { padding: 0; background-color: white; } }

main { width: 100%; max-width: 960px; margin: 0 auto; background-color: white; border-top: 1px solid #e6e6e6; border-left: 1px solid #e1e1e1; border-right: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4; }
@media screen and (max-width: 749px) and (min-width: 0) { main { border: 0; } }

h1 { display: inline-block; width: 100%; height: 72px; line-height: 72px; margin: 0; padding: 0; padding-left: 32px; color: #5e5e5e; font-size: 20px; text-align: left; border-bottom: 1px solid #e6e6e6; }
h1 + article { margin-top: 46px; }
h1:before { content: '⚠'; color: #8c8c8c; font-size: 32px; display: inline-block; margin-right: 8px; }
@media screen and (max-width: 749px) and (min-width: 0) { h1 { padding-left: 16px; font-size: 16px; }
  h1:before { font-size: 26px; margin-right: 4px; } }

article { position: relative; text-align: left; margin-top: 60px; padding: 8px 32px; }
article:before { content: attr(data-title); position: absolute; top: -26px; left: 32px; height: 26px; line-height: 26px; color: #787878; font-size: 14px; font-weight: bold; }
article:first-child { margin-top: 46px; }
@media screen and (max-width: 749px) and (min-width: 0) { article { padding: 8px; }
  article:before { left: 8px; } }

blockquote { margin: 0; padding: 12px 8px; border: 1px solid #dedede; border-left-width: 5px; color: black; background-color: whitesmoke; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
blockquote + blockquote { margin-top: 8px; }

pre { margin: 0; overflow-x: auto; font-size: 16px; }

ul { margin: 0; padding-left: 44px; list-style-type: none; }

li { position: relative; line-height: 23px; word-break: break-all; font-size: 14px; color: #575859; }
li:before { content: attr(data-title) "："; position: absolute; top: 0; left: -44px; display: inline-block; font-weight: bold; color: #2e2f30; }
li + li { margin-top: 8px; }

table { padding: 0; width: 100%; border-spacing: 0; border-collapse: separate; font-size: 14px; color: #2e2f30; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

td, th { line-height: 20px; word-break: break-all; word-break: break-word; vertical-align: middle; }
td.c, th.c { text-align: center; }
td.l, th.l { text-align: left; }
td.r, th.r { text-align: right; }

th { font-weight: normal; padding: 6px; background-color: whitesmoke; border-left: 1px solid #dedede; border-top: 1px solid #dedede; font-size: 13px; }
th:last-child { border-right: 1px solid #dedede; }

td { padding: 6px; font-size: 13px; border-left: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; }
td:last-child { border-right: 1px solid #e6e6e6; }

thead tr { height: 32px; }

tbody th { width: 64px; text-align: right; }
tbody th + td { border-left: 1px solid #dedede; }
tbody tr:first-child th + td { border-top: 1px solid #e6e6e6; }
tbody tr:first-child td { border-top: 1px solid #dedede; }
tbody tr:last-child th { border-bottom: 1px solid #dedede; }
tbody tr:last-child td { border-bottom: 1px solid #e6e6e6; }

input { position: fixed; top: -99999; left: -99999; display: none; width: 0; height: 0; -moz-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
input:checked + label { width: auto; font-size: 13px; }
input:checked + label:after { content: ""; background-color: rgba(255, 255, 255, 0); }

label { position: relative; display: inline-block; width: 20px; margin-right: 2px; font-size: 0; text-decoration: none; overflow: hidden; white-space: nowrap; cursor: pointer; color: #646464; border-bottom: 1px dashed rgba(100, 100, 100, 0.4); }
label:after { content: ".../"; position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; font-size: 13px; text-align: center; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; }

span { display: inline-block; width: 100%; margin-top: 8px; margin-bottom: 16px; padding-right: 32px; text-align: right; font-size: 12px; color: #a0a0a0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); opacity: 0.85; }

a { display: inline; text-decoration: none; color: #699df4; border-bottom: 1px dashed rgba(70, 136, 241, 0.4); -moz-transition: color 0.3s, border-bottom 0.3s; -o-transition: color 0.3s, border-bottom 0.3s; -webkit-transition: color 0.3s, border-bottom 0.3s; transition: color 0.3s, border-bottom 0.3s; }
a:hover { color: #3e7ee8; border-bottom-color: rgba(70, 136, 241, 0.8); }
