@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ejr00n');
  src:  url('fonts/icomoon.eot?ejr00n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ejr00n') format('truetype'),
    url('fonts/icomoon.woff?ejr00n') format('woff'),
    url('fonts/icomoon.svg?ejr00n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calculator:before {
  content: "\e900";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-history:before {
  content: "\e94d";
}
